**/*.env
.env
node_modules/
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
gcp-service-account.json
.env
node_modules
server/dist
server/src/**/*.js
web/dist
web/src/**/*.js
